.tipos .tipo.inseto {
    background-color: #729f3f;
}

.tipos .tipo.sombrio {
    background-color: #707070;
}
    
.tipos .tipo.dragao {
    background-color: #53a4cf;
}

.tipos .tipo.eletrico {
    background-color: #eed535;
}

.tipos .tipo.fada {
    background-color: #fdb9e9;
}

.tipos .tipo.lutador {
    background-color: #d56723;
}

.tipos .tipo.fogo {
    background-color: #fd7d24;
}

.tipos .tipo.voador {
    background-color: #3dc7ef;
}

.tipos .tipo.fantasma {
    background-color: #7b62a3;
}

.tipos .tipo.planta {
    background-color: #9bcc50;
}

.tipos .tipo.terrestre {
    background-color: #ab9842;
}

.tipos .tipo.gelo {
    background-color: #51c4e7;
}

.tipos .tipo.normal {
    background-color: #a4acaf;
}

.tipos .tipo.venenoso {
    background-color: #b97fc9;
}

.tipos .tipo.psiquico {
    background-color: #f366b9;
}

.tipos .tipo.pedra {
    background-color: #a38c21;
}

.tipos .tipo.aco {
    background-color: #9eb7b8;
}
    
.tipos .tipo.agua {
    background-color: #4592c4;
}
